---
import "../styles/global.css";
import SignIn from "../components/SignIn.astro";
import SignUp from "../components/SignUp.astro";
---
<!doctype html>
<html lang="en" x-data="{ showSignIn: true }">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>hack and play</title>

    <!-- Alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class="min-h-screen bg-gray-100 flex items-center justify-center">
    <!-- Mostrar Sign In o Sign Up dinámicamente -->
    <div x-show="showSignIn" x-cloak>
      <SignIn />
    </div>

    <div x-show="!showSignIn" x-cloak>
      <SignUp />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  [x-cloak] { display: none !important; }
</style>
